/* container styles */
.container{
    background-color: var(--bg-color);
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--bg-color);
}
/* header styles */
header{
    padding: 38px 60px 30px;
    position: relative;
}
/* some style to profile image */
header>img{
    border-radius: 50%;
    box-shadow: var(--shadow-image);
    display: block;
}
/* some style to heading ,font size.. */
header>h1{
    padding: 32px 0px 24px;
    font-weight: 700;
    font-size: 32px;
}
/* some style to Introduction first paragraph */
header>p:first-of-type{
    font-size: 22px;
    line-height: 1.6;
}
/* some style to Introduction seccond paragraph */
header>p:last-of-type{
    font-size: 22px;
    line-height: 1.6;
    margin-top: 24px;
}
/* style to icons contact with me */
header>ul{
    display: flex;
    margin: 30px 0 0;
}
/* list items of ul */
header>ul>li{
    margin: 10px;
}
/* change icon styles */
header>ul>li>a{
    border-radius: 50%;
    box-shadow: var(--shadow-icon);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* header styles [end] */
/* main codes styles [start] */
/* some styles to section of main */
main>section{
    padding: 0 60px 40px;
}
/* some style to heading of section */
main>section>h1{
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 6px;
}
/* some style to Explanation paragraph about projects */
main>section>p{
    margin-bottom: 30px;
    font-size: 18px;
}
/* home project set display to grid */
.my-project{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
/* some styles to All project divs and set display to flex */
.my-project>div{
    display: flex;
    text-align: center;
    box-shadow: var(--shadow-image);
    background-color: var(--cream-color);
    border-radius: 20px;
    height: 278px;
}
/* main codes styles [end] */
/* footer codes styles [start] */
footer{
    padding: 30px 0 40px;
    background-color: var(--cream-color);
    box-shadow: var(--shadow-inset);
}
/* style to copyright */
#footer-part{
    padding: 0 30px;
    font-size: 16px;
}
/* footer codes styles [end] */