/* header styles [start]*/
header {
    background-color: var(--bg-color);
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.6;
    color: var(--text-color);
}
/* contaienr styles */
.container {
    padding: 38px 60px 30px;
    position: relative;
}
/* some style to profile image */
.container .profile{
    border-radius: 50%;
    box-shadow: var(--shadow-image);
    display: block;
}
/* some style to heading ,font size.. */
.container>h1 {
    padding: 32px 0px 24px;
    font-weight: 700;
    font-size: 32px;
}
/* some style to Introduction first paragraph */
.container>p:first-of-type {
    font-size: 22px;
    line-height: 1.6;
}
/* some style to Introduction seccond paragraph */
.container>p:last-of-type {
    font-size: 22px;
    line-height: 1.6;
    margin-top: 24px;
}
/* style to icons contact with me */
.container .contact {
    display: flex;
    margin: 30px 0 0;
}
/* list items(icons) of contact */
.container>.contact>li {
    margin: 10px;
}
/* change icon styles */
.container>.contact>li>a {
    border-radius: 50%;
    box-shadow: var(--shadow-icon);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}
/* icons(cntact with me) hover in header */
.container>.contact>li>a:hover{
    background-color: #5a5af614;
}
/* header styles [end] */
/* main codes styles [start] */
/* some styles to container of main */
main>.container {
    padding: 0 60px 40px;
    background-color: var(--bg-color);
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.6;
    color: var(--text-color);
}
/* some style to heading of main container */
main>.container>h1 {
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 6px;
}
/* some style to Explanation paragraph about projects */
main>.container>p {
    margin-bottom: 30px;
    font-size: 18px;
}
/* my project set display to grid */
.my-project{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  /* project item styles set display to flex */
  .project-item{
    display: flex;
    align-items: stretch;
    text-align: center;
    width: 100%;
    text-align: center;
    box-shadow: var(--shadow-image);
    background-color: var(--cream-color);
    border-radius: 20px;
    cursor: pointer;
    height: 200px; /* agar bekhaym img bezarim bayad ino delete konim.*/
  }
/* main codes styles [end] */
/* footer codes styles [start] */
footer {
    padding: 50px 0 60px;
    background-color: var(--cream-color);
    box-shadow: var(--shadow-inset);
}
/* style to copyright */
#footer-part {
    padding: 0 60px;
    font-size: 16px;
    max-width: 1000px;
    margin: 0 auto;
}
/* footer codes styles [end] */